.capture-understanding {
  height: 100%;
  width: 100%;
  margin-top:50px;
  .understanding-form{
    padding:20px;

    &__textaread-wrapper {
        margin-top:50px;
        margin-bottom:50px;
    }
  }

  .wrapper {
    width:40%;
    height:40%;
    min-width: 300px;
    min-height: 300px;
    
  }
  textarea {
     resize: none;
     padding:20px;
  }
  .card-header {
    color:black;
  }
}