* {
  margin: 0;
  padding: 0;
}

html, body,#root {
  height: 100%;
  width: 100%;
  background:white;
}
body {
  margin:0;
  padding:0;
  font-family:sans-serif;
  background:#fbfbfb;
}
.card {
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
  transition:0.5s;
}
.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
